
<div class="text-center">
    <a asp-area="Administration" asp-action="Index" asp-controller="Categories">
        Облік категорій меню
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="Dishes">
        Облік страв
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="DishStatuses">
        Облік статусів приготування страви
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="DishUnits">
        Облік одиниць вимірювання страви
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="Ingredients">
        Облік інгредієнтів
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="IngredientUnits">
        Облік одиниць вимірювання інгредієнту
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="ChangingOrderIngredientsStatuses">
        Зміна статусу замовлення інгредієнтів
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="OrderIngredientsStatuses">
        Облік статусів замовлення інгредієнтів
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="OrderStatuses">
        Облік статусів замовлення
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="Roles">
        Облік ролей співробітника
    </a>
    <br />
    <a asp-area="Administration" asp-action="Index" asp-controller="Users">
        Облік співробітників
    </a>
</div>
