
<div>
    <a asp-area="Cooker" asp-action="Index" asp-controller="ChangingDishStatuses">
        Зміна статусу приготування страви
    </a>
    <a asp-area="Cooker" asp-action="Index" asp-controller="OrderingIngredients">
        Планування замовлення інгредієнтів
    </a>
</div>
