
<div>
    <a asp-area="RestaurantAdministration" asp-action="Index" asp-controller="MenuPlans">
        Планування меню ресторану
    </a>
    <a asp-area="RestaurantAdministration" asp-action="Index" asp-controller="Schedules">
        Планування графіку робіт офіціантів
    </a>
</div>
