
<div>
    <a asp-area="Waiter" asp-action="Index" asp-controller="BookingTables">
        Резервація столику
    </a>
    <br />
    <a asp-area="Waiter" asp-action="Index" asp-controller="ChangingOrderStatuses">
        Зміна статусу замовлення
    </a>
    <br />
    <a asp-area="Waiter" asp-action="Index" asp-controller="Ordering">
        Оформлення замовлення
    </a>
</div>
