@model WebApplicationRestaurant.Models.OrderIngredients

@{
    ViewData["Title"] = "Оформлення замовлення";
}

<h1>Оформлення</h1>

<h4>Замовлення інгредієнтів</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.Label("Ingredient", "Інгредієнт")
                        </th>
                        <th>
                            @Html.Label("Count", "Кількість")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderIngredientsItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ingredient.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Оформити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
