@model WebApplicationRestaurant.Areas.Administration.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Зміна користувача";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Users">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input type="text" asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ім'я</label>
                <input type="number" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Прізвище</label>
                <input type="number" asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-outline-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>